﻿.mi-modal-background {
	background: rgba(0,0,0, 0.3);
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
}

.mi-modal {
	box-shadow: -5px -5px 50px -2px #ddd;
	background-color: white;
	min-height: 300px;
	min-width: 320px;
	position: absolute;
	z-index: 1001;
	top: calc(50% - 160px);
	display: none;
	width: 100%;
}

.mi-modal-body, .mi-modal-thanks-subscribing {
	padding: 20px;
	position: relative;
	height: 100%;
}

	.mi-modal-body .form {
		width: 65%;
	}

	.mi-modal-body h2 {
		font-weight: normal;
		text-transform: uppercase;
		padding: 0px;
		margin: 0px;
	}

	.mi-modal-body .form div {
		margin-bottom: 10px;
	}

	.mi-modal-body button, .mi-modal-body input {
		text-transform: uppercase;
		width: 100%;
		padding: 10px;
	}

	.mi-modal-body p {
		display: block;
	}

		.mi-modal-body p.error-label {
			color: red;
		}

.mi-modal-close {
	text-align: right;
	font-size: 12px;
	color: #ccc;
	padding: 10px 10px 0px 10px;
}

	.mi-modal-close a {
		cursor: pointer;
	}

.mi-no-thanks {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

	.mi-no-thanks a {
		font-size: 0.8em;
		text-decoration: underline;
	}

@media all and (min-width: 500px) {
	.mi-modal {
		min-width: 500px;
		max-width: 500px;
		left: calc(50% - 250px);
	}
}
