﻿@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <div class="compare-products">
      <button class="button-2 add-to-compare-list-button"
              onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">
        <i class="fa fa-retweet"></i> @T("Products.Compare.AddToCompareList")
      </button>
    </div>
}