﻿@using Nop.Plugin.Catalog.Doba.Domain.Models;

@{
  Layout = "_AdminLayout";

  Html.SetActiveMenuItemSystemName("Plugin.Catalog.Doba.Import");
}

<div class="content-header clearfix">
  <h1 class="pull-left">
    Doba Import
  </h1>
  <div class="pull-right" id="action-button-container">
    <button disabled type="button" id="btn-import" name="importexcel" class="btn bg-olive">
      <i class="fa fa-upload"></i>
      Import (Selected)
    </button>
    <button type="button" id="btn-delete" class="btn bg-red" disabled>
      <i class="fa fa-trash-o"></i>
      @T("Admin.Common.Delete.Selected")
    </button>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_list_buttons" })
  </div>
</div>

<nop-antiforgery-token />

<form asp-action="import" enctype="multipart/form-data" asp-controller="doba" id="dobaImportForm" method="post">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        Doba Import
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-3">
            <input type="file" name="xmlFileUpload" />
          </div>
          <div class="col-md-9">
            <button id="dobaImportFormSubmit"><i class="fa fa-upload"></i> Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="dobaProductList"></div>

<script type="text/javascript">
  $(document).ready(function () {
    var selectedIds = [];
    var $checkboxes = undefined;
    var $buttons = jQuery("#action-button-container button");
    var $btnDelete = jQuery("#btn-delete");
    var $btnImport = jQuery("#btn-import");

    var setMasterChecked = function () {
      var disabled = selectedIds.length > 0 ? false : true;
      $masterCheckbox.attr('checked', selectedIds.length === $checkboxes.length);
      $buttons.attr("disabled", disabled);
    };

    var disableInputs = function (disabled) {
      jQuery($buttons, $checkboxes, $masterCheckbox).attr("disabled", disabled);
    };

    var onCheckboxChanged = function () {
      var $checkbox = jQuery(this);
      var isChecked = $checkbox.is(":checked");
      var value = $checkbox.val();

      if (!isChecked) {
        $masterCheckbox.attr('checked', false);

        selectedIds = selectedIds.filter(function (id) {
          return id !== value;
        });

      } else if (jQuery.inArray(value, selectedIds) === -1) {
        selectedIds.push(value);
      }

      setMasterChecked();
    };

    var runAjax = function (type, url) {
      jQuery.ajax({
        url: url,
        type: type,
        data: {
          selectedIds: selectedIds
        },
        complete: function () {
          $productGrid.data('kendoGrid').dataSource.read();
          $checkboxes = $productGrid.find('input[type="checkbox"]').not($masterCheckbox);
          selectedIds = [];
          setMasterChecked();
        },
        traditional: true
      });
    };

    $btnDelete.click(function () {
      disableInputs(true);
      runAjax("DELETE", "@Html.Raw(Url.Action("DeleteMany", "DobaImport"))");
    });

    $btnImport.click(function () {
      disableInputs(true);
      runAjax("POST", "@Html.Raw(Url.Action("ImportProducts", "DobaImport"))");
    });

    var $productGrid = $("#dobaProductList").kendoGrid({
      dataSource: {
        type: "json",
        transport: {
          read: {
            url: "@Html.Raw(Url.Action("List", "DobaImport"))",
            type: "GET"
          }
        }
      },
      pageable: {
        refresh: true
      },
      columns: [
        {
          field: "Id",
          headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
          headerAttributes: { style: "text-align:center" },
          attributes: { style: "text-align:center" },
          template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
          width: 50
        },
        {
          field: "ImageFile",
          headerTemplate: "Image",
          template: "<img src='#=ImageFile#' style='max-width: 75px;' />",
          width: 80
        },
        {
          field: "Title",
          width: 150,
          template: function (item) {
            if (item.InternalProductId) {
              return "<a href=\"@Html.Raw(Url.Action("Edit", "Product"))/" + item.InternalProductId + "\">" + item.Title + "</a>";
            }

            return item.Title;
          }
        },
        {
          field: "SupplierName",
          width: 'auto'
        },
        {
          headerTemplate: "Qty Available",
          field: "QuantityAvailable",
          width: "auto"
        },
        {
          format: "{0:c}",
          headerTemplate: "MSRP",
          field: "MSRP",
          width: "auto"
        },
        {
          format: "{0:c}",
          headerTemplate: "Ship Cost",
          field: "ShipCost",
          width: "auto"
        },
        {
          format: "{0:c}",
          headerTemplate: "Profit Margin List",
          field: "ProfitMarginPrice",
          width: "auto"
        },
        {
          format: "{0:c}",
          headerTemplate: "Profit Margin Prepay",
          field: "ProfitMarginPrepay",
          width: "auto"
        }
      ]
    });

    $productGrid.data("kendoGrid").bind("dataBound", function () {
      $checkboxes = $productGrid.find("input[type='checkbox']").not("#mastercheckbox");
      $checkboxes.change(onCheckboxChanged);
    });

    var $masterCheckbox = $productGrid.find('#mastercheckbox');

    $masterCheckbox.change(function () {
      var isChecked = $masterCheckbox.is(":checked");
      var checked = isChecked ? "checked" : false;

      if ($checkboxes) {
        $checkboxes.attr("checked", checked).change();
      }
    });
  });
</script>