﻿@model Nop.Plugin.Widgets.DiscountModal.Models.ConfigurationModel
@{
  Layout = "_ConfigurePlugin";
}

<form asp-controller="DiscountModal" asp-action="Configure" method="post">

  <div class="panel-group">

    <div class="panel panel-default">

      <div class="panel-body">

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="Title" />
          </div>
          <div class="col-md-9">
            <nop-editor asp-for="Title" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="ButtonText" />
          </div>
          <div class="col-md-9">
            <nop-editor asp-for="ButtonText" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="CancelMessage" />
          </div>
          <div class="col-md-9">
            <nop-editor asp-for="CancelMessage" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="PlaceHolderText" />
          </div>
          <div class="col-md-9">
            <nop-editor asp-for="PlaceHolderText" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="Message" />
          </div>
          <div class="col-md-9">
            <nop-editor asp-for="Message" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="Delay" />
          </div>
          <div class="col-md-9">
            <nop-editor asp-for="Delay" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="CustomCss" />
          </div>
          <div class="col-md-9">
            <nop-textarea asp-for="CustomCss" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="ThanksForSubscribing" />
          </div>
          <div class="col-md-9">
            <nop-textarea asp-for="ThanksForSubscribing" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="DiscountId" />
          </div>
          <div class="col-md-9">
            <nop-select asp-for="DiscountId" asp-items="Model.DiscountList" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <nop-label asp-for="CampaignId" />
          </div>
          <div class="col-md-9">
            <nop-select asp-for="CampaignId" asp-items="Model.Campaigns" />
          </div>
        </div>

      </div>

      <div class="panel panel-footer">
        <div class="form-group">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-9">
            <nop-hidden asp-for="Id" />
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
          </div>
        </div>
      </div>

    </div>

  </div>

</form>