﻿@using Nop.Web.Framework.UI;
@model Nop.Plugin.Widgets.DiscountModal.Models.DiscountModalSettingsModel

@if (Model.ShouldDisplayModal)
{
  string scriptsPath = "~/Plugins/Widgets.DiscountModal/Content/scripts/";
  Html.AddScriptParts(ResourceLocation.Footer, $"{scriptsPath}/jquery.cookie.js", excludeFromBundle: false);
  Html.AddScriptParts(ResourceLocation.Footer, $"{scriptsPath}/discountModal.js", excludeFromBundle: false);
  Html.AddCssFileParts($"~/Plugins/Widgets.DiscountModal/Content/css/discountmodal.css", excludeFromBundle: false);
  Html.AddCssFileParts("/mutableideas/discountmodal/modal-css?modified=" + Model.LastUpdate.Ticks.ToString(), excludeFromBundle: true);

  <div class="mi-modal-background">
    <div class="mi-modal">
      <div class="mi-modal-close"><a>X</a></div>
      <div class="mi-modal-body">
        <h2>@Model.Title</h2>
        <p>@Model.Message</p>
        <div class="form">
          <div class="form-field">
            <input type="email" class="mi-modal-subscribe form-control" placeholder="@Model.PlaceHolderText" />
            <p class="error-label" style="display:none;"></p>
          </div>
          <div class="form-field">
            <button class="mi-modal-button button-1"><i class="fa fa-spin fa-spinner" style="display: none;"></i> @Model.ButtonText</button>
          </div>

          <div class="mi-modal-thanks-subscribing" style="display: none;">
            <p>@Model.ThanksForSubscribing</p>
          </div>
        </div>
        @Html.AntiForgeryToken()
      </div>
      <div class="mi-no-thanks">
        <a>@Model.CancelMessage</a>
      </div>
    </div>

    <input type="hidden" class="delay" value="@Model.Delay" />
    <input type="hidden" class="discount-modal-id" value="@Model.DiscountId" />
  </div>
}
