﻿@model Nop.Plugin.Catalog.ImportManager.Domain.Model.ImportCollectionModel
@inject Nop.Services.Events.IEventPublisher eventPublisher
@using Nop.Web.Framework.Events
@using Nop.Plugin.Catalog.ImportManager.Domain;

@{
  Layout = "_AdminLayout";
  Html.SetActiveMenuItemSystemName("Plugin.Catalog.ImportManager");
}

<script type="text/javascript" src="@(Consts.ScriptsPath + "/column-type.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/event-names.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/filter-types.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/utils.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/rest-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/base-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/subscription-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/list-control.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/import-collection-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/import-source-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/source-class-mapping-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/source-mapping-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/import-source-column-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/source-invalid-value-service.js")"></script>
<script type="text/javascript" src="@(Consts.ScriptsPath + "/source-key-column-service.js")"></script>

<script type="text/javascript">
  var qsService = new queryStringExpressionService();
  var collectionSubscriptions = new collectionEventSubscriptions();
  var collectionService = new importCollectionService(collectionSubscriptions);
  var sourceService = new importSourceService(collectionSubscriptions);
  var sourceMappingService = new sourceClassMappingService(collectionSubscriptions, qsService);
  var mappingService = new propertyMappingService(collectionSubscriptions, qsService);
  var columnService = new importSourceColumnsService(collectionSubscriptions, qsService);
  var invalidValueService = new sourceInvalidValueService(collectionSubscriptions);
  var sourceKeyService = new sourceKeyColumnService(collectionSubscriptions, qsService);
</script>

@await Component.InvokeAsync("ImportCollectionHeader", new { model = Model })

<div class="panel panel-body">
  <nop-tabs id="importPanel">
    <nop-tab asp-name="ImportCollections" asp-title="Import Collections" asp-default="true">
      @await Component.InvokeAsync("ImportCollectionForm", Model)
    </nop-tab>
    <nop-tab asp-name="Sources" asp-title="Sources">
      @await Component.InvokeAsync("ImportSources", Model.Id)
    </nop-tab>
    <nop-tab asp-name="Mappings" asp-title="Mappings">
      @await Component.InvokeAsync("SourceClassMappingView")
    </nop-tab>
  </nop-tabs>
</div>

@{
  //custom tabs
  var eventMessage = new AdminTabStripCreated(this.Html, "importPanel");
  eventPublisher.Publish(eventMessage);
  foreach (var eventBlock in eventMessage.BlocksToRender)
  {
    @eventBlock
  }
}
