﻿@using Nop.Plugin.Catalog.ImportManager

@{
  Layout = "_AdminLayout";

  Html.SetActiveMenuItemSystemName("Plugin.Catalog.ImportManager");
}

<div class="content-header clearfix">
  <h1 class="pull-left">
    Import Collections
  </h1>
  <div class="pull-right">
    <a asp-action="Create" class="btn bg-blue">
      <i class="fa fa-plus-square"></i>
      @T("Admin.Common.AddNew")
    </a>
  </div>
</div>

<div class="content">
  <div class="panel panel-body">
    <div id="importCollectionList"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var $importCollectionList = $('#importCollectionList');

    $importCollectionList.kendoGrid({
      dataSource: {
        type: "json",
        transport: {
          read: {
            url: "@Html.Raw(Url.Action("Get", "ImportCollection"))",
            type: "GET"
          }
        }
      },
      columns: [
        {
          field: "Id",
          headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
          headerAttributes: { style: "text-align:center" },
          attributes: { style: "text-align:center" },
          template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
          width: 50
        },
        {
          field: 'Name',
          headerTemplate: 'Name',
          width: 'auto'
        },
        {
          field: 'Id',
          headerTemplate: 'Edit',
          width: '200',
          template: '<a class="btn btn-default" href="/admin/mutableideas/import/#=Id#"><i class="fa fa-pencil"></i> Edit</a>'
        }
      ]
    });
  });
</script>