﻿<select id="@Model.Id" class="form-control">
  @foreach (SelectListItem listItem in Model.ListItems)
  {
      <option value="@listItem.Value" @(listItem.Selected ? "selected" : "")>
        @listItem.Text
      </option>
  }
</select>