﻿<div class="form-horizontal panel panel-body" id="fieldMapping">

</div>

<script type="text/javascript">
  $(document).ready(function () {
    var feildService = new executeRequest('admin/mutableideas/source-mapping'),
      sourceMapping = new executeRequest('');

    var getFieldProperties = function (entityType) {
      fieldService.get('')
    };

    collectionSubscriptions.watch(collectionTabsEvent.CLASSMAPPINGSELECTED, function (classMapping) {
      getFieldProperties(classMapping.EntityType);
    });
  });
</script>
