﻿@model Nop.Plugin.Catalog.ImportManager.Domain.Model.ImportCollectionModel

<div class="content-header clearfix">
  <h1 class="pull-left" id="importCollectionHeader">
    @if (!Model.Id.HasValue)
    {
      <span>Add a New collection</span>
    }
    else
    {
      <span>@Model.Name</span>
    }

    <small>
      <i class="fa fa-arrow-circle-left"></i>
      <a href="@Html.Raw(Url.Action("index", "ImportManager"))">back to import collection list</a>
    </small>
  </h1>
  <button class="btn bg-green pull-right" id="btnImport"><i class="fa fa-upload"></i> Import</button>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var $btnImport = $('#btnImport'),
      $collectionId = $('#Id');

    var saving = function (isSaving) {
      var $icon = $btnImport.find('i');
      $btnImport.attr('disabled', isSaving);
      $icon.toggleClass('fa-upload');
      $icon.toggleClass('fa-spin fa-spinner');
    };

    var onImportClick = function () {
      saving(true);
      collectionService.import($collectionId.val())
    };

    if (isEmpty($collectionId.val())) {
      $collectionId.change(function () {
        $btnImport.attr('disabled', false);
      });
    }

    $btnImport.click(onImportClick);

    collectionSubscriptions.watch(collectionTabsEvent.COLLECTIONSAVED, function (value) {
      $('#importCollectionHeader span').text(value.Name);
    });

    collectionSubscriptions.watch(collectionTabsEvent.COLLECTIONIMPORT, function () {
      console.log('Collection Import Has Successfully Completed');
    });

    collectionSubscriptions.watch([collectionTabsEvent.COLLECTIONIMPORT_DONE, collectionTabsEvent.COLLECTIONIMPORT_ERROR], function () {
      saving(false);
    });
  });
</script>