﻿@model System.Int32

<div class="panel panel-body">
  <div id="sourceFormPanel" class="row" style="display: none;"> 
    @await Component.InvokeAsync("ImportSourceForm", Model)
  </div>
  <div id="sourceListPanel">
    <div class="row">
      <div class="col-md-12">
        @await Component.InvokeAsync("ImportSourceList", Model)
      </div>
    </div>
  </div>
  <div class="fieldMappingListPanel">
    <div class="row">
      <div class="col-md-12">
        <!--Add the Mappings Panel here-->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var $sourceForm = $('#sourceFormPanel').hide(),
      $sourceList = $('#sourceListPanel');

    collectionSubscriptions.watch(sourceViewUIEvents.TOGGLE_SOURCEFORM, function () {
      $sourceForm.toggle();
      $sourceList.toggle();
    });
  });
</script>