﻿@model Nop.Plugin.Catalog.ImportManager.Domain.Model.ImportSourceModel
@using Nop.Plugin.Catalog.ImportManager.Domain.Enums;

@{
  SourceType subType = (Model.SubSourceType.HasValue ? Model.SubSourceType.Value : SourceType.Json);
}

<div class="form-horizontal panel panel-body" id="importSourceForm">
  <input type="hidden" id="SourceId" value="@Model.Id" />

  <div class="form-group">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="name">Source Name*</label>
      </div>
    </div>
    <div class="col-md-8">
      <nop-editor asp-for="@Model.Name" maxlength="100" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="IsFirstRowHeader">Is First Row Header</label>
      </div>
    </div>
    <div class="col-md-8">
      <input id="isFirstRowHeader" type="checkbox" @(Model.IsFirstRowHeader || Model.Id == 0 ? "checked" : "")>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="SourceType">Source Type</label>
      </div>
    </div>
    <div class="col-md-8">
      @await Component.InvokeAsync("SourceTypeDropdown", new { sourceType = Model.SourceType, id = "SourceType" })
    </div>
  </div>
  <div class="form-group file-upload">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="fileUpload">File</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="file" id="sourceFileUpload" />
    </div>
  </div>
  <div class="form-group sub-source-type">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="SubSourcetype">Sub Source Type</label>
      </div>
    </div>
    <div class="col-md-8">
      @await Component.InvokeAsync("SourceTypeDropdown", new { sourceType = subType, id = "SubSourceType" })
    </div>
  </div>
  <div class="form-group sub-source-type">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="SourcePath">Url</label>
      </div>
    </div>
    <div class="col-md-8">
      <nop-editor asp-for="@Model.Url" />
    </div>
  </div>
  <div class="modal-footer">
    <button name="save" id="btnCollectionFormSubmit" class="btn btn-primary" value="save">
      <i class="fa fa-save"></i> Save Source
    </button>
    <button name="cancel" id="btnCollectionCancel" class="btn" value="cancel">
      <i class="fa fa-close"></i> Cancel
    </button>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var $form = $('#importSourceForm'),
      $id = $form.find('#SourceId'),
      $importCollectionId = $('#Id'),
      $name = $form.find('#Name'),
      $isFirstRowHeader = $form.find('#isFirstRowHeader'),
      $sourceType = $form.find('#SourceType'),
      $subSourceType = $form.find('#SubSourceType'),
      $sourcePath = $form.find('#SourcePath'),
      $btnCancel = $form.find('#btnCollectionCancel'),
      $btnSave = $form.find('#btnCollectionFormSubmit'),
      $subSourceTypeRow = $form.find('.sub-source-type'),
      $inputFile = $form.find("#sourceFileUpload"),
      $fileRow = $form.find(".file-upload").hide(),
      $saveIcon = $btnSave.find("i");

    var cancelClick = function () {
      $form.find('select,input').not($importCollectionId).val('');
      $form.find('input[type="checkbox"]').removeAttr("checked");
      collectionSubscriptions.push(sourceViewUIEvents.TOGGLE_SOURCEFORM);
    };

    var sourceSaved = function (result) {
      collectionSubscriptions.push(collectionTabsEvent.SOURCECHANGED, result);
      saving();
      cancelClick();
      $sourceType.change();
    };

    var sourceSavedError = function (err) {
      alert(err);
      saving();
    };

    var saving = function () {
      $saveIcon.toggleClass('fa-save');
      $saveIcon.toggleClass('fa-spin fa-spinner');

      var isDisabled = $btnSave.attr('disabled') ? true : false;
      $btnSave.attr('disabled', !isDisabled);
    };

    var saveClick = function () {
      var data = new FormData();
      data.append('Id', $id.val());
      data.append('ImportCollectionId', $importCollectionId.val());
      data.append('Name', $name.val());
      data.append('IsFirstRowHeader', $isFirstRowHeader.is(":checked"));
      data.append('SourceType', $sourceType.val());
      data.append('SubSourceType', $subSourceType.val());
      data.append('SourcePath', $sourcePath.val());

      if ($sourceType.val() !== "0" && $inputFile[0].files.length > 0) {
        data.append('FileUpload', $inputFile[0].files[0])
      }

      saving();

      sourceService.saveSource(data);
    };

    var onSourceTypeChange = function () {
      if ($sourceType.val() === '0') {
        $subSourceTypeRow.show();
        $fileRow.hide();
        return;
      }

      $fileRow.show();
      $subSourceTypeRow.hide();
      $subSourceType.val('');
    };

    $btnCancel.click(cancelClick);
    $btnSave.click(saveClick);
    $sourceType.change(onSourceTypeChange);

    collectionSubscriptions.watch(collectionTabsEvent.SOURCESAVEDDONE, saving);
    collectionSubscriptions.watch(collectionTabsEvent.SOURCEERROR, sourceSavedError);
    collectionSubscriptions.watch(collectionTabsEvent.SOURCEMAPPINGSAVESOURCE, sourceSaved);

    collectionSubscriptions.watch(collectionTabsEvent.SOURCESELECTED, function (source) {
      $id.val(source.Id);
      $name.val(source.Name);
      $importCollectionId.val(source.ImportCollectionId);
      $sourceType.val(source.SourceType);
      $subSourceType.val(source.SubSourceType);
      $sourcePath.val(source.SourcePath);
      $isFirstRowHeader.attr("checked", source.IsFirstRowHeader);
      onSourceTypeChange();
    });
  });
</script>