﻿@model Nop.Plugin.Catalog.ImportManager.Domain.Model.ImportCollectionModel

<div class="form-horizontal" id="collectionForm">
  <div class="modal-body">
    <input asp-for="@Model.Id" type="hidden" />
    <div class="form-group">
      <div class="col-md-4">
        <div class="label-wrapper">
          <label for="name">Name*</label>
        </div>
      </div>
      <div class="col-md-8">
        <nop-editor asp-for="@Model.Name" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button name="save" id="btnCollectionFormSubmit" class="btn btn-primary" value="save">
      <i class="fa fa-save"></i> Save Collection
    </button>
  </div>
</div>

<script type="text/javascript">
  var importCollectionForm = function () {
    var restService = executeRequest('/admin/mutableideas/import-collection');
    return restService;
  };

  $(document).ready(function () {
    var $collectionForm = $('#collectionForm'),
      $collectionName = $collectionForm.find('#Name'),
      $collectionId = $collectionForm.find('#Id'),
      $btnSubmit = $collectionForm.find('#btnCollectionFormSubmit'),
      $icon = $btnSubmit.find('i')

    var doneSaving = function () {
      $btnSubmit.prop('disabled', false);
      $icon.toggleClass('fa-save');
      $icon.removeClass('fa-spin fa-spinner');
    };

    var collectionSaved = function (value) {
      $collectionName.val(value.Name);
      $collectionId.val(value.Id);
    };

    var submitForm = function () {
      var data = {
        name: $collectionName.val(),
        id: $collectionId.val()
      };

      $btnSubmit.prop('disabled', true);
      $icon.toggleClass('fa-save');
      $icon.addClass('fa-spin fa-spinner');

      collectionService.save(data);
    };

    collectionSubscriptions.watch(collectionTabsEvent.COLLECTIONSAVED, collectionSaved);
    collectionSubscriptions.watch(collectionTabsEvent.COLLECTIONSAVEDDONE, doneSaving);

    $btnSubmit.click(submitForm);
  });
</script>