﻿<div class="modal-header">
  <div class="col-md-12">
    <button class="btn pull-right bg-red" id="btnDeleteSource" disabled><i class="fa fa-trash-o"></i> Delete Selected</button>
    <button class="btn bg-blue pull-right" id="btnAddSource" style="margin-right: 5px;"><i class="fa fa-plus-square"></i> Add Source</button>
  </div>
</div>

<div id="sourceList"></div>
<input type="hidden" id="importListCollectionId" />

<script type="text/javascript">
  $(document).ready(function () {
    var $collectionId = $('#Id'),
      $btnAddSource = $('#btnAddSource'),
      $btnDelete = $('#btnDeleteSource'),
      list = null,
      $sourceList = null;;

    var getSourceType = function (type) {
      if (isEmpty(type)) return '';

      switch (type) {
        case 0:
          return 'Url';
        case 1:
          return 'CSV';
        case 2:
          return 'Tab Delimited';
        case 3:
          return 'Excel';
        case 4:
          return 'Json';
        default:
          return 'Unavailable';
      }
    }

    var onCollectionChanged = function () {
      if ($collectionId.val() === "" || list !== null) return;
      renderSourceList();

      list = listControl($sourceList, $btnAddSource, $btnDelete, sourceService, {
        refreshGrid: sourceViewUIEvents.REFRESH_SOURCE_GRID,
        deleted: collectionTabsEvent.SOURCEREMOVEDMANY,
        error: collectionTabsEvent.SOURCEERROR,
        selected: collectionTabsEvent.SOURCESELECTED,
        toggleForm: sourceViewUIEvents.TOGGLE_SOURCEFORM
      });
    };

    var renderSourceList = function () {
      var queryString = qsService.by('importCollection.id', filterType.EQUAL, $collectionId.val());

      $sourceList = $('#sourceList').kendoGrid({
        dataSource: {
          type: "json",
          transport: {
            read: {
              url: function () {
                return "/admin/mutableideas/import-source?" + queryString.build();
              },
              type: "GET"
            }
          }
        },
        columns: [
          {
            field: "Id",
            headerTemplate: "<input type='checkbox' class='checkbox-master' />",
            template: "<input type='checkbox' value='#=Id#' class='sourceCheckbox' />",
            width: 50
          },
          {
            field: 'Name',
            headerTemplate: 'Name'
          },
          {
            field: 'ImportOrder',
            headerTemplate: 'Import Order'
          },
          {
            field: 'SourceType',
            headerTemplate: 'Type',
            template: function (item) {
              return getSourceType(item.SourceType);
            }
          },
          {
            field: 'SubSourceType',
            headerTemplate: 'Subsource Type',
            template: function (item) {
              return getSourceType(item.SubSourceType);
            }
          },
          {
            headerTemplate: 'First Row Header',
            field: 'IsFirstRowHeader',
            attributes: { style: "text-align:center" },
            template: function (value) {
              return [
                '<i class="fa ',
                (value.IsFirstRowHeader ? 'fa-check true-icon' : 'fa-remove false-icon'), '"></i>'
              ].join('');
            }
          },
          {
            field: 'Id',
            headerTemplate: "Edit",
            attributes: { style: "text-align:center" },
            template: "<button value='#=Id#' class='btn btn-default edit-button'><i class='fa fa-edit'></i> Edit</button>"
          }
        ]
      });
    };

    collectionSubscriptions.watch(collectionTabsEvent.COLLECTIONSAVED, onCollectionChanged);
    onCollectionChanged();
  });
</script>