﻿<div class="panel panel-body">
  <div id="sourceClassMappingForm" class="row">
    @await Component.InvokeAsync("SourceClassMappingForm")
  </div>
  <div id="sourceClassMappingListPanel">
    <div class="row">
      <div class="col-md-12">
        @await Component.InvokeAsync("SourceClassMappingList")
      </div>
    </div>
  </div>
  <div id="sourceMappingPanel">
    <div class="row">
      <div class="col-md-12">
        @await Component.InvokeAsync("SourceMapping")
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var $sourceForm = $('#sourceClassMappingForm').hide(),
      $mappingForm = $('#sourceMappingPanel').hide(),
      $sourceList = $('#sourceClassMappingListPanel');

    collectionSubscriptions.watch(sourceViewUIEvents.TOGGLE_SOURCECLASSMAPPINGFORM, function () {
      $sourceForm.toggle();
      $sourceList.toggle();
    });

    collectionSubscriptions.watch(sourceViewUIEvents.TOGGLE_CLASSMAPPINGFORM, function () {
      // mapping form should only be accessible from the list
      $mappingForm.toggle();
      $sourceList.toggle();
    });
  });
</script>