﻿@using Nop.Plugin.Catalog.ImportManager.Domain.Enums;

<div class="class-property-mappings">
  <div class="row">
    <h4 class="pull-left classMappingName control-label"></h4>
    <button class="btn btn-default cancel pull-right"><i class="fa fa-remove"></i> Cancel</button>
  </div>

  <div class="source-key-mappings">
    <div class="row key-mappings">
      <h3 class="col-md-12"><i class="fa fa-key"></i> Key Mappings</h3>
      <div class="col-md-3"><label class="control-label">Column Type</label></div>
      <div class="col-md-3"><label class="control-label">Source Property</label></div>
      <div class="col-md-3"><label class="control-label">Name</label></div>
      <div class="col-md-3"></div>
    </div>
    <div class="row source-key-row" style="margin-bottom: 5px; display:none;">
      <div class="col-md-3">
        @await Component.InvokeAsync("ColumnTypeDropdown", new { EnumValue = ColumnType.RowValue, id = "SourceKeyColumn" })
      </div>
      <div class="col-md-3">
        <select class="form-control source-property"></select>
        <select class="form-control source-key"></select>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control name" />
      </div>
      <div class="col-md-3">
        <button class="btn btn-default bg-blue save"><i class="fa fa-save"></i> Save</button>
        <button class="btn btn-default bg-red remove"><i class="fa fa-trash"></i> Delete</button>
      </div>
      <input type="hidden" class="sourceKeyId" value="" />
    </div>
  </div>

  <div class="source-mappings">
    <div class="row">
      <h3 class="col-md-12">Row Mappings</h3>
      <div class="col-md-3">
        <label class="control-label">
          Column Type
        </label>
      </div>
      <div class="col-md-3">
        <label class="control-label">
          Destination Property
        </label>
      </div>
      <div class="col-md-3">
        <label class="control-label">
          Source Property
        </label>
      </div>
      <div class="col-md-1">
        <label class="control-label">
          Overwrite?
        </label>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row property-row" style="margin-bottom: 5px; display: none;">
      <div class="col-md-3 column-type">
        @await Component.InvokeAsync("ColumnTypeDropdown", new { EnumValue = ColumnType.RowValue, id = "" })
      </div>
      <div class="col-md-3">
        <select class="form-control dest-property"></select>
      </div>
      <div class="col-md-3">
        <select class="form-control source-property"></select>
        <select class="form-control source-key-id" style="display: none;"></select>
        <input type="text" class="form-control default-value" style="display: none;" />
      </div>
      <div class="col-md-1">
        <input type="checkbox" class="overwrite" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-default bg-blue save" style="margin-right: 5px;"><i class="fa fa-save"></i> Save</button>
        <button class="btn btn-default bg-red remove" style="display:none;"><i class="fa fa-remove"></i> Delete</button>
      </div>
      <input type="hidden" class="mappingId" />
    </div>

    <input type="hidden" class="classMappingId" />
  </div>
</div>

<script type="text/javascript">
  var $sourceMapping = null,
    $classMappingId = null;

  var addSelectOptions = function ($select, columns, propertyId, propertyName, blankText) {
    var options = columns.map(function (column) {
      return ["<option value='", (column[propertyId] || column), "'>", (column[propertyName] || column), "</option>"].join('');
    });

    options.unshift('<option value="">-- ' + blankText + ' --</option>');
    $select.html(options.join(''));
  }

  var addColumns = function ($select, columns) {
    addSelectOptions($select, columns, 'Id', 'Name', 'Source Column');
  };

  var propertyRow = function (mapping, propertyNames, sourceColumns, parentKeys, $template) {
    var $templateClone = $template.clone(),
      $columnType = $templateClone.find('.column-type select'),
      $destProperty = $templateClone.find('.dest-property'),
      $sourceProperty = $templateClone.find('.source-property'),
      $mappingId = $templateClone.find('.mappingId'),
      $btnSave = $templateClone.find('.save'),
      $btnRemove = $templateClone.find('.remove'),
      $overwrite = $templateClone.find('.overwrite'),
      $defaultValue = $templateClone.find('.default-value'),
      $sourceKey = $templateClone.find('.source-key-id'),
      buttons = [$btnSave, $btnRemove];

    addSelectOptions($destProperty, propertyNames, null, null, 'Destination Property');
    addSelectOptions($sourceKey, parentKeys, 'Id', 'Name', 'Referenced Class Mapping');
    addColumns($sourceProperty, sourceColumns);

    $destProperty.val(mapping.DestinationPropertyName);
    $sourceProperty.val(mapping.SourceColumnId);
    $columnType.val(mapping.ColumnType);
    $sourceKey.val(mapping.ReferenceClassMappingId);
    $mappingId.val(mapping.Id);
    $defaultValue.val(mapping.DefaultValue);
    $overwrite.attr('checked', mapping.Overwrite);

    if (!isEmpty(mapping.Id)) {
      $templateClone.find('input,select').attr('disabled', true);
    }

    $('div.source-mappings').append($templateClone);

    var disableButtons = function (disable) {
      var $buttons = $templateClone.find('button.btn'),
        disabled = isEmpty(disable) || !disable ? false : true;

      $buttons.attr('disabled', disabled);
    };

    var onRemoveClick = function () {
      disableButtons(true);
      mappingService.remove(mapping.Id).then(function () {
        $templateClone.remove();
      });
    };

    var onSaveClick = function () {
      disableButtons(true);
      var data = {
        DestinationPropertyName: $destProperty.val(),
        SourceClassMappingId: $classMappingId.val(),
        SourceColumnId: $sourceProperty.val(),
        ColumnType: $columnType.val(),
        Overwrite: $overwrite.is(":checked"),
        ReferenceClassMappingId: $sourceKey.val(),
        DefaultValue: $defaultValue.val(),
        Id: $mappingId.val()
      }

      mappingService.save(data);
    };

    if (!isEmpty($mappingId.val())) {
      $btnRemove.show();
    }

    var clear = function () {
      $templateClone.find('input,select').val('');
      $sourceProperty.val('').show();
      $defaultValue.val('').hide();
      $overwrite.attr('checked', false);
    };

    var onColumnTypeChange = function () {
      var value = $columnType.val();

      $sourceKey.hide();
      $defaultValue.hide();
      $sourceProperty.hide();

      switch (parseInt(value)) {
        case columnType.ReferenceValue:
          $sourceKey.show();
          $defaultValue.val('');
          $sourceProperty.val('');
          break;
        case columnType.DefaultToValue:
          $sourceProperty.val('');
          $sourceKey.val('');
          $defaultValue.show();
          break;
        default:
          $sourceProperty.show();
          $sourceKey.val('');
          $defaultValue.val('');
      }
    };

    $btnRemove.click(onRemoveClick);
    $btnSave.click(onSaveClick);
    $templateClone.show();
    $columnType.change(onColumnTypeChange);

    if (!isEmpty($mappingId.val())) {
      $btnSave.hide();
    }

    $columnType.change();

    return {
      id: mapping.Id,
      remove: function () {
        $templateClone.remove();
      },
      saveComplete: function () {
        clear();
        disableButtons(false);
      }
    };
  };

  var sourceKeyRow = function (sourceKey, sourceColumns, $template, parentKeys) {
    var $templateClone = $template.clone(),
      $sourceProperty = $templateClone.find('select.source-property'),
      $columnType = $templateClone.find('#SourceKeyColumn'),
      $sourceKeySelect = $templateClone.find('select.source-key').hide(),
      $hdnKeyId = $templateClone.find('input.sourceKeyId'),
      $btns = $templateClone.find('.btn'),
      $btnSave = $templateClone.find('.btn.save'),
      $btnDelete = $templateClone.find('.btn.remove'),
      $name = $templateClone.find('.name');

    $('div.source-key-mappings').append($templateClone);

    addColumns($sourceProperty, sourceColumns);
    addSelectOptions($sourceKeySelect, parentKeys, 'Id', 'Name', 'Referenced Class Mapping');

    $sourceProperty.val(sourceKey.SourceColumnId);
    $columnType.val(sourceKey.ColumnType);
    $sourceKeySelect.val(sourceKey.ReferenceClassMappingId);
    $name.val(sourceKey.Name);
    $hdnKeyId.val(sourceKey.Id);

    if (!isEmpty(sourceKey.Id)) {
      $btnDelete.show();
      $btnSave.hide();
      $templateClone.find('select,input').attr('disabled', true);
    } else {
      $btnDelete.hide();
      $btnSave.show();
    }

    var disableButtons = function (disable) {
      $btns.attr('disabled', disable);
    };

    var onSaveClick = function () {
      var sourceColumnKey = {
        SourceColumnId: $sourceProperty.val(),
        SourceClassMappingId: $classMappingId.val(),
        ReferenceClassMappingId: $sourceKeySelect.val(),
        ColumnType: $columnType.val(),
        Name: $name.val()
      };

      sourceKeyService.save(sourceColumnKey);
    };

    var onDeleteClick = function () {
      sourceKeyService.remove(sourceKey.Id).then(function () {
        $templateClone.remove();
      });
    };

    var onColumnTypeChange = function () {
      var value = parseInt($columnType.val());
      if (isNumber(value) && columnType.CompositeKeyReferenceValue === value) {
        $sourceKeySelect.toggle();
        $sourceProperty.toggle();
        return;
      }

      $sourceProperty.show();
      $sourceKeySelect.hide();
    };

    var clear = function () {
      $templateClone.find('select,input').val('');
    };

    $btnSave.click(onSaveClick);
    $btnDelete.click(onDeleteClick);
    $templateClone.show();
    $columnType.change(onColumnTypeChange);
    $columnType.change();

    return {
      id: sourceKey.Id,
      saveComplete: function () {
        clear();
        disableButtons(false);
      },
      remove: function () {
        $templateClone.remove();
      }
    };
  }

  $(document).ready(function () {
    var propertyNames = [],
      sourceColumns = [];
      propertyRows = [],
      sourceKeys = [],
      sourceKeyRows = [],
      mapping = null,
      $container = $('div.class-property-mappings'),
      $sourceMapping = $('div.source-mappings'),
      $classMapName = $('.classMappingName'),
      $btnCancel = $container.find('button.cancel'),
      $template = $sourceMapping.find('div.property-row'),
      $sourceKeyTemplate = $container.find('div.source-key-mappings div.source-key-row'),
      $classMappingId = $('input.classMappingId'),
      collectionId = $('#Id').val();

    var removePropertyRows = function () {
      for (var i = 0; i < propertyRows.length; i++) {
        propertyRows[i].remove();
      }

      for (var i = 0; i < sourceKeyRows.length; i++) {
        sourceKeyRows[i].remove();
      }
    };

    var classMappingSelected = function (classMapping) {
      if (isEmpty(classMapping)) return;
      removePropertyRows();

      var propertiesPromise = mappingService.getPropertyNames(classMapping.EntityType),
        sourceKeyPromise = sourceKeyService.getByMappingId(classMapping.Id),
        mappingPromise = mappingService.getForClasssMap(classMapping.Id),
        columnsPromise = columnService.getForSource(classMapping.SourceId),
        parentKeysPromise = sourceMappingService.getForSource(classMapping.SourceId);

      $classMapName.text(classMapping.Name);
      $classMappingId.val(classMapping.Id);
      mapping = classMapping;

      $.when(mappingPromise, sourceKeyPromise, propertiesPromise, columnsPromise, parentKeysPromise).then(handlePromises);
    };

    var handlePromises = function (mappings, sourceKeys, properties, columns, parentKeys) {
      createPropertyRows(mappings, properties, columns, parentKeys);
      createSourceKeyRows(sourceKeys, columns, parentKeys);

      propertyNames = properties;
      sourceColumns = columns;
      sourceKeys = parentKeys;
    };

    var createPropertyRows = function (mappings, properties, columns, parentKeys) {
      propertyRows.push(new propertyRow({
        DestinationPropertyName: '',
        SourceColumnId: '',
        Id: ''
      }, properties, columns, parentKeys, $template));

      propertyRows = propertyRows.concat(mappings.map(function (map) {
        return new propertyRow(map, properties, columns, parentKeys, $template);
      }));
    };

    var createSourceKeyRows = function (sourceKeys, columns, depdentKeys) {
      sourceKeyRows.push(new sourceKeyRow({
        Id: '',
        Name: '',
        ColumnType: '',
        SourceColumnId: '',
        SourceClassMappingId: mapping.Id
      }, columns, $sourceKeyTemplate, depdentKeys));

      sourceKeyRows = sourceKeyRows.concat(sourceKeys.map(function (sourceKey) {
        return new sourceKeyRow(sourceKey, columns, $sourceKeyTemplate, depdentKeys);
      }));
    };

    var getPropertyMappingById = function (id) {
      for (var i = 0; i < propertyRows.length; i++) {
        if (parseInt(propertyRows[i].id) === parseInt(id)) {
          return propertyRows[i];
        }
      }

      return null;
    };

    var onMappingSaved = function (result) {
      var propertyMapping = getPropertyMappingById(result.Id);

      if (!isEmpty(propertyMapping)) {
        propertyMapping.saveComplete();
        return;
      }

      var row = new propertyRow(result, propertyNames, sourceColumns, sourceKeys, $template);
      propertyRows.push(row);
      propertyRows[0].saveComplete();
    };

    var onKeyColumnSaved = function (result) {
      var sourceRow = new sourceKeyRow(result, sourceColumns, $sourceKeyTemplate, sourceKeys);
      sourceKeyRows.push(sourceRow);
      sourceKeyRows[0].saveComplete();
    };

    var onCancelClick = function () {
      collectionSubscriptions.push(sourceViewUIEvents.TOGGLE_CLASSMAPPINGFORM);
    }

    collectionSubscriptions.watch(sourceViewUIEvents.TOGGLE_CLASSMAPPINGFORM, classMappingSelected);
    collectionSubscriptions.watch(collectionTabsEvent.SOURCEMAPPINGSAVED, onMappingSaved);
    collectionSubscriptions.watch(collectionTabsEvent.SOURCEKEYCOLUMNSAVED, onKeyColumnSaved);

    $btnCancel.click(onCancelClick);
  });
</script>
