﻿@using Nop.Plugin.Catalog.ImportManager.Domain.Enums;

<div class="form-horizontal panel panel-body" id="sourceClassMapingForm">
  <input id="sourceClassMappingId" type="hidden" />
  <div class="form-group">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="name">Name*</label>
      </div>
    </div>
    <div class="col-md-8">
      <input type="text" id="sourceClassMappingName" maxlength="100" class="form-control text-box single-line" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="name">Source*</label>
      </div>
    </div>
    <div class="col-md-8">
      <select id="sourceClassMappingSourceId" class="form-control">
        <option>-select-</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4">
      <div class="label-wrapper">
        <label for="entityType">Entity Type*</label>
      </div>
    </div>
    <div class="col-md-8">
      @await Component.InvokeAsync("EntityTypeDropdown", new { enumValue = ImportEntityType.Product, id = "sourceClassMappingEntityType" })
    </div>
  </div>
  <div class="modal-footer">
    <button name="save" id="btnSourceClassMappingSubmit" class="btn btn-primary" value="save">
      <i class="fa fa-save"></i> Save Source
    </button>
    <button name="cancel" id="btnSourceClassMappingCancel" class="btn" value="cancel">
      <i class="fa fa-close"></i> Cancel
    </button>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var $form = $('#sourceClassMapingForm'),
      $collectionId = $('#Id'),
      $id = $form.find('#sourceClassMappingId'),
      $name = $form.find('#sourceClassMappingName'),
      $source = $form.find('#sourceClassMappingSourceId'),
      $entityType = $form.find('#sourceClassMappingEntityType'),
      $btnSave = $form.find('#btnSourceClassMappingSubmit'),
      $btnCancel = $form.find('#btnSourceClassMappingCancel'),
      $importOrder = $form.find('#sourceClassMappingImportOrder'),
      sources = { };

    var disableButtons = function (disable) {
      if (disable) {
        $btnSave.attr('disabled', true);
        $btnCancel.attr('disabled', true);
        return;
      }

      $btnCancel.removeAttr('disabled');
      $btnSave.removeAttr('disabled');
    };

    var renderOptions = function () {
      var options = ['<option value="">--select--</option>'];
      for (var i = 0; i < sources.length; i++) {
        var source = sources[i];
        var selected = source.Id == $source.val();
        options.push("<option value='" + source.Id + "'" + (selected ? ' selected' : '') + ">" + source.Name + "</option>");
      }

      $source.html(options.join(''));
    };

    var clearForm = function () {
      $form.find('input,select').val('');
    };

    var cancelClick = function () {
      clearForm();
      collectionSubscriptions.push(sourceViewUIEvents.TOGGLE_SOURCECLASSMAPPINGFORM);
    };

    var btnSaveClick = function () {
      var data = {
        Id: $id.val(),
        Name: $name.val(),
        SourceId: $source.val(),
        EntityType: $entityType.val()
      };

      disableButtons(true);
      sourceMappingService.save(data);
    };

    var sourceServiceGetByParent = function (sourceResults) {
      sources = sourceResults;
      renderOptions();
    };

    var getSources = function () {
      sourceService.getByParent($collectionId.val());
    };

    var mappingSelected = function (classMapping) {
      $id.val(classMapping.Id);
      $name.val(classMapping.Name);
      $source.val(classMapping.SourceId);
      $entityType.val(classMapping.EntityType);
    };

    var onClassMappingsSaved = function (result) {
      collectionSubscriptions.push(collectionTabsEvent.CLASSMAPPINGCHANGED, result);
      cancelClick();
    };

    collectionSubscriptions.watch(collectionTabsEvent.SOURCECHANGED, getSources);
    collectionSubscriptions.watch(collectionTabsEvent.CLASSMAPPINGSELECTED, mappingSelected);
    collectionSubscriptions.watch(collectionTabsEvent.SOURCEGETBYPARENT, sourceServiceGetByParent);
    collectionSubscriptions.watch(collectionTabsEvent.CLASSMAPPINGSAVEDDONE, disableButtons);
    collectionSubscriptions.watch(collectionTabsEvent.CLASSMAPPINGSAVED, onClassMappingsSaved);

    if ($collectionId.val() !== "") {
      getSources();
    }

    $btnSave.click(btnSaveClick);
    $btnCancel.click(cancelClick);
  });
</script>
