﻿<div class="modal-header">
  <div class="col-md-12">
    <button class="btn pull-right bg-red" id="btnDeleteClassMapping" disabled><i class="fa fa-trash-o"></i> Delete Selected</button>
    <button class="btn bg-blue pull-right" id="btnAddClassMapping" style="margin-right: 5px;"><i class="fa fa-plus-square"></i> Add Class Mapping</button>
  </div>
</div>

<div id="classMappingList"></div>

<script type="text/javascript">
  $(document).ready(function () {
    var $btnAdd = $('#btnAddClassMapping'),
      $btnDelete = $('#btnDeleteClassMapping'),
      $collection = $('#Id'),
      sources = {},
      $sourceList = null,
      mappingList = undefined;

    var getUrl = function () {
      return '/admin/mutableideas/source-class-mapping/by-collection/' + $collection.val();
    };

    var getEntityType = function (item) {
      var type = item.EntityType;

      switch (type) {
        case 0:
          return 'Product';
        case 1:
          return 'Product Picture';
        case 2:
          return 'Inventory';
        case 3:
          return 'Product Attribute';
        case 4:
          return 'Product Attribute Value';
        case 5:
          return 'Specification Attribute';
        case 6:
          return 'Specification Attribute Option';
        case 7:
          return 'Product Attribute Mapping';
        case 8:
          return 'Product Specification Mapping';
        case 9:
          return 'Product Tag';
        case 10:
          return 'Category';
        case 11:
          return 'Category Product Mapping';
        case 12:
          return 'Product Combinations';
        default:
          return '';
      }
    };

    var onShareButtonClick = function () {
      var mappingClass = mappingList.getById(this.value);
      collectionSubscriptions.push(sourceViewUIEvents.TOGGLE_CLASSMAPPINGFORM, mappingClass);
    };

    var onDataBound = function () {
      var $shareButtons = $sourceList.find('button.mapping-button');
      $shareButtons.click(onShareButtonClick);
    };

    var renderList = function () {
      $sourceList = $('#classMappingList').kendoGrid({
        dataSource: {
          type: "json",
          transport: {
            read: {
              url: getUrl,
              type: "GET"
            }
          }
        },
        columns: [
          {
            field: "Id",
            headerTemplate: "<input type='checkbox' class='checkbox-master' />",
            template: "<input type='checkbox' value='#=Id#' class='sourceCheckbox' />",
            width: 50
          },
          {
            field: 'Name',
            headerTemplate: 'Name'
          },
          {
            field: 'SourceId',
            headerTemplate: 'Source',
            template: function (item) {
              var source = sources[item.SourceId];

              if (source) {
                return source.Name;
              }
            }
          },
          {
            field: 'EntityType',
            headerTemplate: 'Entity Type',
            template: function (item) {
              return getEntityType(item);
            }
          },
          {
            field: 'Id',
            headerTemplate: 'Field Mapping',
            template: '<button value="#=Id#" class="btn btn-default mapping-button"><i class="fa fa-share-alt"></i> Mapping </button>'
          },
          {
            field: 'Id',
            headerTemplate: "Edit",
            attributes: { style: "text-align:center" },
            template: "<button value='#=Id#' class='btn btn-default edit-button'><i class='fa fa-edit'></i> Edit</button>"
          }
        ]
      });

      mappingList = listControl($sourceList, $btnAdd, $btnDelete, sourceMappingService, {
        refreshGrid: sourceViewUIEvents.REFRESH_CLASSMAPPING_GRID,
        deleted: collectionTabsEvent.CLASSMAPPINGREMOVED,
        error: collectionTabsEvent.CLASSMAPPINGERROR,
        toggleForm: sourceViewUIEvents.TOGGLE_SOURCECLASSMAPPINGFORM,
        selected: collectionTabsEvent.CLASSMAPPINGSELECTED
      }, onDataBound);
    };

    var mapSourceResults = function (results) {
      sources = {}
      var length = results.length;
      for (var i = 0; i < length; i++) {
        sources[results[i].Id] = results[i];
      }
    };

    var getSources = function () {
      sourceService.getByParent($collection.val());
    };

    var collectionChanged = function () {
      if (mappingList !== undefined) return;
      renderList();
    };

    collectionSubscriptions.watch(collectionTabsEvent.SOURCEGETBYPARENT, mapSourceResults);
    collectionSubscriptions.watch(collectionTabsEvent.COLLECTIONCHANGED, collectionChanged);
    collectionSubscriptions.watch(collectionTabsEvent.SOURCECHANGED, getSources);

    if ($collection.val() !== "") {
      renderList();
      getSources();
    }
  });
</script>